.custom-link-btn {
    background: none;
    border: none;
    color: #074949; /* Azul Bootstrap */
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s, transform 0.2s;
  }
  
  .custom-link-btn:hover {
    color: #084298; /* Azul más oscuro al pasar el mouse */
    transform: scale(1.05); /* Ligero efecto de agrandamiento */
  }
