<div class="container col-md-6 mt-5">
    <div class="card">
        <div class="card-header">
            <h3>Agregar Catalogo de Actividades</h3>
        </div>
        <div class="card-body">
            <form>

                <div class="form-group">
                    <label for="">Nombre</label>
                    <input type="text" class="form-control" [(ngModel)]="activityCatalog.name" name="name">
                </div>


                <div class="d-flex justify-content-center gap-4 mt-4">
                    <button type="button" (click)="GuardarActivityCatalog(activityCatalog)"
                        class="btn btn-success">Guardar</button>
                    <button [routerLink]="['/']" class="btn btn-outline-secondary btn-lg custom-btn-volver">
                        <i class="bi bi-arrow-left-circle me-2"></i> Volver
                    </button>
                </div>
            </form>

            <div>

            </div>
        </div>
    </div>
</div>